@page "/"
@using System.Globalization
<PageTitle>OpenHrCore</PageTitle>

<RadzenCard class="rz-py-3 rz-px-5 rz-shadow-0 rz-border-0 rz-border-radius-0">
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Icon="home" />
        <RadzenBreadCrumbItem Path="/" Text="Dashboard" />
    </RadzenBreadCrumb>
</RadzenCard>

<div class="rz-m-5">
    <RadzenText class="rz-mb-5" TextStyle="TextStyle.H6">Dashboard</RadzenText>

    <RadzenRow class="rz-text-align-center rz-p-0 rz-m-0 rz-mb-5" Gap="1rem">
        <RadzenColumn SizeLG="3" SizeMD="6" SizeSM="6" SizeXS="12">
            <RadzenCard>
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Gap="1rem">
                    <RadzenText TextStyle="TextStyle.Subtitle2">Total Employees</RadzenText>
                    <RadzenText TextStyle="TextStyle.DisplayH4"><b>1024</b></RadzenText>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn SizeLG="3" SizeMD="6" SizeSM="6" SizeXS="12">
            <RadzenCard>
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Gap="1rem">
                    <RadzenText TextStyle="TextStyle.Subtitle2">Leave</RadzenText>
                    <RadzenText TextStyle="TextStyle.DisplayH4"><b>24</b></RadzenText>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn SizeLG="3" SizeMD="6" SizeSM="6" SizeXS="12">
            <RadzenCard>
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Gap="1rem">
                    <RadzenText TextStyle="TextStyle.Subtitle2">Attendance</RadzenText>
                    <RadzenText TextStyle="TextStyle.DisplayH4"><b>1000</b></RadzenText>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
        <RadzenColumn SizeLG="3" SizeMD="6" SizeSM="6" SizeXS="12">
            <RadzenCard>
                <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Start" JustifyContent="JustifyContent.Normal" Gap="1rem">
                    <RadzenText TextStyle="TextStyle.Subtitle2">New Hire</RadzenText>
                    <RadzenText TextStyle="TextStyle.DisplayH4"><b>100</b></RadzenText>
                </RadzenStack>
            </RadzenCard>
        </RadzenColumn>
    </RadzenRow>

    <RadzenRow class="rz-p-0 rz-m-0" Gap="1rem">
        <RadzenColumn SizeLG="6" SizeMD="6" SizeSM="12" SizeXS="12">
            <RadzenCard>
                <RadzenChart>
                    <RadzenColumnSeries Data="@revenue1" CategoryProperty="Quarter" ValueProperty="Revenue" />
                    <RadzenColumnSeries Data="@revenue2" CategoryProperty="Quarter" ValueProperty="Revenue" />
                </RadzenChart>
            </RadzenCard>
        </RadzenColumn>

        <RadzenColumn SizeLG="6" SizeMD="6" SizeSM="12" SizeXS="12">
            <RadzenCard>
                <RadzenChart>
                    <RadzenChartTooltipOptions Shared="@sharedTooltip" />
                    <RadzenLineSeries Smooth="@smooth" Data="@revenue2023" CategoryProperty="Date" Title="2023" LineType="LineType.Dashed" ValueProperty="Revenue">
                        <RadzenMarkers Visible="@showMarkers" MarkerType="MarkerType.Square" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    <RadzenLineSeries Smooth="@smooth" Data="@revenue2024" CategoryProperty="Date" Title="2024" ValueProperty="Revenue">
                        <RadzenMarkers Visible="@showMarkers" MarkerType="MarkerType.Circle" />
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenLineSeries>
                    <RadzenCategoryAxis Padding="20" />
                    <RadzenValueAxis Formatter="@FormatAsUSD">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Revenue in USD" />
                    </RadzenValueAxis>
                </RadzenChart>
            </RadzenCard>
        </RadzenColumn>

    </RadzenRow>

</div>

@code {
    class DataItem_1
    {
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }

    DataItem_1[] revenue1 = new DataItem_1[]
    {
            new DataItem_1 { Quarter = "Q1", Revenue = 234000 },
            new DataItem_1 { Quarter = "Q2", Revenue = 284000 },
            new DataItem_1 { Quarter = "Q3", Revenue = 274000 },
            new DataItem_1 { Quarter = "Q4", Revenue = 294000 }
    };

    DataItem_1[] revenue2 = new DataItem_1[]
    {
            new DataItem_1 { Quarter = "Q1", Revenue = 324000 },
            new DataItem_1 { Quarter = "Q2", Revenue = 224000 },
            new DataItem_1 { Quarter = "Q3", Revenue = 444000 },
            new DataItem_1 { Quarter = "Q4", Revenue = 564000 }
    };

    bool smooth = false;
    bool sharedTooltip = true;
    bool showDataLabels = false;
    bool showMarkers = true;

    class DataItem
    {
        public string Date { get; set; }
        public double Revenue { get; set; }
    }

    string FormatAsUSD(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("en-US"));
    }

    DataItem[] revenue2023 = new DataItem[] {
        new DataItem
        {
        Date = "Jan",
        Revenue = 234000
        },
        new DataItem
        {
        Date = "Feb",
        Revenue = 269000
        },
        new DataItem
        {
        Date = "Mar",
        Revenue = 233000
        },
        new DataItem
        {
        Date = "Apr",
        Revenue = 244000
        },
        new DataItem
        {
        Date = "May",
        Revenue = 214000
        },
        new DataItem
        {
        Date = "Jun",
        Revenue = 253000
        },
        new DataItem
        {
        Date = "Jul",
        Revenue = 274000
        },
        new DataItem
        {
        Date = "Aug",
        Revenue = 284000
        },
        new DataItem
        {
        Date = "Sept",
        Revenue = 273000
        },
        new DataItem
        {
        Date = "Oct",
        Revenue = 282000
        },
        new DataItem
        {
        Date = "Nov",
        Revenue = 289000
        },
        new DataItem
        {
        Date = "Dec",
        Revenue = 294000
        }
    };

    DataItem[] revenue2024 = new DataItem[] {
        new DataItem
        {
        Date = "Jan",
        Revenue = 334000
        },
        new DataItem
        {
        Date = "Feb",
        Revenue = 369000
        },
        new DataItem
        {
        Date = "Mar",
        Revenue = 333000
        },
        new DataItem
        {
        Date = "Apr",
        Revenue = 344000
        },
        new DataItem
        {
        Date = "May",
        Revenue = 314000
        },
        new DataItem
        {
        Date = "Jun",
        Revenue = 353000
        },
        new DataItem
        {
        Date = "Jul",
        Revenue = 374000
        },
        new DataItem
        {
        Date = "Aug",
        Revenue = 384000
        },
        new DataItem
        {
        Date = "Sept",
        Revenue = 373000
        },
        new DataItem
        {
        Date = "Oct",
        Revenue = 382000
        },
        new DataItem
        {
        Date = "Nov",
        Revenue = 389000
        },
        new DataItem
        {
        Date = "Dec",
        Revenue = 394000
        }
    };
}